{% extends "base.html" %}

{% block title %}Blog {{ block.super }}{% endblock%}
{% block breadcrumb %}

{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span9">
        <h3>Blog</h3>
        {% for item in articles %}
        <article class="news-item">
            <h4 class="title"><a href="{% url 'detail' id=item.id %}">{{ item.title }}</a></h4>
             <div class="text">
                <p>{{ item.content|safe }}</p>
            </div>

            <div class="meta">

            <ul class="nav nav-pills">
             <li><a href="{% url 'blog-date-archive' month=item.publish_date|date:"m" year=item.publish_date|date:"Y" %}"> {{ item.publish_date|date:"F j, Y" }}</a></li>
              {% for cg in item.categories.all %}
               <li><a href="{% url 'blog-category-archive' id=cg.id %}">{{ cg.title }}</a></li>
             {% endfor %}
             </ul>
            </div>
        </article>
            <ul>
         <liclass="divider-vertical"></li>
         </ul>
        {% endfor %}

        <div class="pagination pagination-small pagination-centered">
            <ul>
                {% if articles.has_previous %}
                <li><a href="?page={{ articles.previous_page_number }}">previous</a></li>
                {% else %}
                <li class="disabled"><span>previous</span></li>
                {% endif %}

                <li class="active"><span>{{ articles.number }}</span></li>

                {% if articles.has_next %}
                <li><a href="?page={{ articles.next_page_number }}">next</a></li>
                {% else %}
                <li class="disabled"><span>next</span></li>
                {% endif %}
            </span>
        </div>
    </div>

        <div class="span3">
        <ul class="nav nav-list">
        {% if archive_dates|length > 0%}
            <li class="nav-header">Archive Dates</li>
            {% for date in archive_dates %}
            <li><a href="{% url 'blog-date-archive' month=date|date:"m" year=date|date:"Y" %}">{{ date|date:"M Y" }}</a></li>
            {% endfor %}
            <li class="nav-header">Categories</li>
            {% for tmp in categories %}
            <li{% if category.id == tmp.id %} class="active"{% endif %}><a href="{% url 'blog-category-archive' id=tmp.id %}">{{ tmp.title }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
